@layer theme, base, mui, components, utilities;
@import "tailwindcss";

/* :root {
  --background: var(--mui-palette-background-default);
  --foreground: #171717;
}
*/
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--mui-palette-background-default);
    --foreground: #ededed;
    body {
      scrollbar-color: var(--mui-palette-divider)
        var(--mui-palette-background-dark);
      scrollbar-width: thin;
      ::-webkit-scrollbar {
        width: 8px;
      }
      ::-webkit-scrollbar-track {
        background: var(--mui-palette-background-dark);
      }
      ::-webkit-scrollbar-thumb {
        background-color: var(--mui-palette-divider);
        border-radius: 20px;
      }
    }
  }
}

@theme {
  --color-background: #ffffff;
  --color-background-dark: #121212;
  --color-foreground: var(--muy-palette-text-primary);
  --color-status-error: var(--mui-palette-error-main);
  --color-status-error-dark: var(--mui-palette-error-light);
  --color-on-surface: var(--mui-palette-text-primary);
  --color-on-surface-dark: var(--mui-palette-text-dark);
  --color-text-error: var(--mui-palette-error-main);
}

.debug-red {
  border: 1px solid rgb(255, 0, 0);
}

.debug-green {
  border: 1px solid rgb(0, 255, 0);
}

.debug-blue {
  border: 1px solid rgb(0, 0, 255);
}
