@layer theme, base, mui, components, utilities;
@import "tailwindcss";

:root {
  --anexa14-border-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--mui-palette-background-default);
    --foreground: #ededed;
    --anexa14-border-color: #555;

    body {
      scrollbar-color: var(--mui-palette-divider)
        var(--mui-palette-background-dark);
      scrollbar-width: thin;
      ::-webkit-scrollbar {
        width: 8px;
      }
      ::-webkit-scrollbar-track {
        background: var(--mui-palette-background-dark);
      }
      ::-webkit-scrollbar-thumb {
        background-color: var(--mui-palette-divider);
        border-radius: 20px;
      }
    }
  }
}

@theme {
  --color-background: #ffffff;
  --color-background-dark: #121212;
  --color-background-muted: #cccccc;
  --color-background-muted-dark: #000000;
  --color-foreground: var(--muy-palette-text-primary);
  --color-status-error: var(--mui-palette-error-main);
  --color-status-error-dark: var(--mui-palette-error-light);
  --color-on-surface: var(--mui-palette-text-primary);
  --color-on-surface-dark: var(--mui-palette-text-dark);
  --color-text-error: var(--mui-palette-error-main);
  --color-background-main: var(--mui-palette-background-default);
}

.debug-red {
  border: 1px solid rgb(255, 0, 0);
}

.debug-green {
  border: 1px solid rgb(0, 255, 0);
}

.debug-blue {
  border: 1px solid rgb(0, 0, 255);
}

table#anexa14 thead tr th,
table#anexa14 tbody tr td {
  border: 1px solid var(--anexa14-border-color) !important;
  padding: 1px;
}

@media print {
  .print-style-title {
    font-size: 16px !important;
  }
  .print-style {
    font-size: 13px !important;
    border: 0px !important;
    overflow: visible !important;
    overflowy: visible !important;
    overflowx: visible !important;
  }

  .no-print {
    display: none !important;
  }
}
