.hover-over {
  background-color: var(--ag-accent-color);
}

/* Default (light mode) */
.pinned-row {
  background-color: #f6f6ff !important;
  font-weight: 400 !important;
}

p,
span {
  font-weight: 400 !important;
}

/* Dark mode override */
html.dark .pinned-row {
  background-color: #1c1d24 !important;
}

.row-dragging {
  background-color: #2fbe42 !important;
}

html.dark .row-dragging {
  background-color: #374e77 !important;
}

.cell-drag-over {
  background-color: #ffe58f !important;
  transition: background-color 0.2s;
}

.ag-row.ag-row-pinned.ag-row-selected {
  background-color: transparent !important;
}
